<div class="modal fade" id="poll_modal" tabindex="-1" aria-labelledby="poll_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="poll_modalLabel">Poll</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0 mb-3">
                    <div class="m-3"  *ngFor="let poll of pollingList">
                        <div id="poll_question">
                            <b>Question:</b>
                            <form [formGroup]="pollForm">
                                <p>{{poll.title}}</p>
                                <div *ngFor="let choice of poll.options">
                                  <label  style="cursor:pointer">   
                                  <input formControlName='polling'  type="radio" value="{{choice.choice}}">
                                    &nbsp;{{choice.choice}}</label>
        
                                </div>
                                <div class="mt-4 mb-2">
                                  <input type="button"  class="btn submitBtn" (click)="pollSubmit(poll.id)" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>                
                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div>