#login_section{   
    position: absolute;
    top: 59%;
    left:10%;
    width: 20%;
    transform: translate(10%, -30%);

}
input[type="text"], input[type="email"]{
    background-color: #fff;
  //  margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px;
}
#submitBtn{
    float: left;
    #loginbtn{
        margin: 12px 4px;
        background-color: #d2ae6d;
        color: white;
        border-radius: 24px;
        padding: 6px 28px;
    }
}
label{
    color:#d2ae6d;
}