<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/login.jpg" alt="">
        <div id="login_section">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">    
                   
                <div class="form-group">
                   
                    <label>FIRST NAME</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="first_name">
                    <div class="invalidError" *ngIf="(loginForm.get('first_name').invalid && loginFormDir.submitted) || (loginForm.get('first_name').dirty && loginForm.get('first_name').invalid)">
                        First Name is Required*
                    </div><br>
                    <label>LAST NAME</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="last_name">
                    <div class="invalidError" *ngIf="(loginForm.get('last_name').invalid && loginFormDir.submitted) || (loginForm.get('last_name').dirty && loginForm.get('last_name').invalid)">
                        Last Name is Required*
                    </div>
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="Login">

                </div>
               
            </form>
            <br>
            <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/pds11dec/outer.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->