<!-- <button class="btn btn success" (click)="getCall()">call</button> -->
<div *ngIf="isLoaded">
    <div class="loading">
        <!-- <p>Loading...</p> -->
        <div class="loader"></div>

      </div>
</div>
<router-outlet></router-outlet>
