<section id="bg_section">
    <div id="content_section">
        <div id="player_section">
            <div id="player-wrapper" class="player-container"></div>
        </div>    
        <app-audi-menu></app-audi-menu>  
    </div>
</section>
<app-group-chat></app-group-chat>
<app-poll></app-poll>
<app-ask-question></app-ask-question>
<app-quiz></app-quiz>